{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<h1>Pick a question to answer</h1>
{% if latestQuestionList %}
    <ul>
        {% for question in latestQuestionList %}
        {% if forloop.counter|divisibleby:2 %}
            <li class="li-one"><a href="{% url 'polls:detail' question.id %}">{{question.questionText}}</a></li>
        {% else %}
            <li class="li-two"><a href="{% url 'polls:detail' question.id %}">{{question.questionText}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}